body{
  background-color: black;
  background-image: url(https://wallpapers.com/images/hd/minimalist-one-piece-monkey-d-luffy-eokbgkzv18j8qdcx.webp);
}

.buttons{
  background-color:black;
  border-style: solid;
  border-color: rgb(210, 214, 214);
  border-width: thin;
  color:white;
  width: 800px;
  height: 40px;
  border-radius: 15px;
  margin:auto;
  margin-bottom: 10px;
  margin-top: 10px;

}

.Jon{
  color:white;
  text-align: center;
  margin: auto;
  font-style: normal sans-serif;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 50px;
  margin-top: 50px;
}

.social{
  background-color:white;
  color:white;
  border-radius: 10px;
  border-style: solid;
  height: 50px;
  width: 50px;
  flex-wrap: wrap;
}
